/* Global Mobile Breakpoints */
/* Global Colors -- These are used in DB Mega Menu so am saving here so that menu doesn't throw errors */
/* Site Specific Colors */
/*dkgreen*/
/*mdgreen*/
/*graygreen*/
/* mintgreen */
/*dkgray */
/* ltgray */
/*dkpurple*/
/*lime*/
/*Ferries Colors */
/* Font Size Bases */
/* B (18px)	68.66px */
/* A (16px)	61.04px */
/* B (18px)	54.93px */
/* A (16px)	48.83px */
/* B (18px)	43.95px */
/* A (16px)	39.06px */
/* B (18px)	35.16px */
/* A (16px)	31.25px */
/* B (18px)	28.13px */
/* A (16px)	25.00px */
/* B (18px)	22.50px */
/* A (16px)	20.00px */
/* B (18px)	18.00px */
/* A (16px)	16.00px */
/* B (18px)	14.40px */
/* A (16px)	12.80px */
/* B (18px)	11.52px */
/* A (16px)	10.00px */
/* B (18px)	9.22px */
/* A (16px)	8.19px */
/* B (18px)	7.37px */
/* A (16px)	6.55px */
/* B (18px)	5.90px */
/* A (16px)	5.24px */
/* B (18px)	4.72px */
/* A (16px)	4.19px */
#sidr-mobile,
#block-sidrtriggerbuttonblock, #main-menu  {
  display: none;
}
@media screen and (max-width: 991px) {
  #sidr-mobile,
  #block-sidrtriggerbuttonblock, #main-menu {
    display: block;
  }
  #sidr-mobile button.sidr-trigger,
  #block-sidrtriggerbuttonblock button.sidr-trigger, #main-menu  {
    position: absolute;
    right: 10px;
    top: 15px;
    height: 34px;
    width: 44px;
    font-size: 2rem;
  }
}
.sidr  {
  background: #fff;
  box-shadow: none;
}
.sidr .navbar-default {
  background-color: #fff;
}
.sidr ul li {
  /*padding: 3px 3px 3px 0;*/
  border-top: none;
  border-bottom: 2px solid #F4F4F5;
  position: initial;
  display: initial;
}
.sidr ul li a {
  color: #1D252D;
  font-weight: 600;
  line-height: 1.8rem;
  border-bottom: 1px solid #F4F4F5;
  padding-top: 14px;
  padding-bottom: 14px;
}
.sidr ul li a .caret {
  /*display: none; */
  border: none;
}
.sidr ul li a .caret:after {
  content: '\f078';
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  color: #007B5F;
  right: 5px;
  font-weight: 600;
  top: 12px;
}
.sidr ul li a:focus,
.sidr ul li a:hover {
  background-color: transparent;
  /*padding: 0; */
  text-decoration: underline;
  border: none;
  outline-color: none;
  box-shadow:  none;
}
.sidr ul li a.has-children.is-active {
  border-bottom: none;
}
.sidr ul li.active a {
  box-shadow: none!important;
}
.sidr ul li ul li {
  border: none;
  list-style-type: none;
  padding: 8px 0;
  display: block;
}
.sidr ul li ul li a {
  border: none;
  color: #007B5F;
}
.sidr .form-type-search {
  width: 75%;
  display: inline-block;
}
.sidr .form-actions {
  display: inline;
}
.sidr input[type="search"] {
  background-color: #fff;
}
.sidr button {
  background-color: transparent;
}
.sidr-trigger {
  background-color: #97d700;
  color: #1D252D;
  border: none;
  border-radius: 5px;
  height: 20px;
}
.sidr-trigger .fa-bars {
  color: #1D252D;
  text-align: center;
  padding-left: 13px;
}
